<form hx-post="/htmx/authorize/check" hx-target="#authorize-result" hx-swap="outerHTML" class="row">
  <div class="input-field col s12 m5">
    <input type="email" name="email" id="email" class="validate" required>
    <label for="email">User Email</label>
  </div>
  <div class="input-field col s12 m5">
    <input type="text" name="url_path" id="url_path" class="validate" required placeholder="/dashboard">
    <label for="url_path">URL Path</label>
  </div>
  <div class="col s12 m2">
    <button type="submit" class="btn blue darken-2 waves-effect waves-light" style="margin-top: 1.5rem;">Check</button>
  </div>
</form> 