{% extends 'base.html' %}
{% block content %}
<h4 class="center-align">Authorization Check</h4>
<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Check Authorization</span>
        <form method="post" action="/authorize">
          <div class="input-field">
            <input type="email" name="email" id="email" class="validate" required value="{{ email|default('') }}">
            <label for="email" class="active">User Email</label>
          </div>
          <div class="input-field">
            <input type="text" name="url_path" id="url_path" class="validate" required value="{{ url_path|default('') }}">
            <label for="url_path" class="active">URL Path</label>
          </div>
          <button type="submit" class="btn blue darken-2 waves-effect waves-light">Check</button>
        </form>
      </div>
      {% if allowed is not none %}
      <div class="card-action">
        <div class="center-align">
          {% if allowed %}
            <span class="green-text text-darken-2"><i class="material-icons left">check_circle</i>Allowed for {{ email }} to access {{ url_path }}</span>
          {% else %}
            <span class="red-text text-darken-2"><i class="material-icons left">cancel</i>Denied for {{ email }} to access {{ url_path }}</span>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %} 