{% extends 'base.html' %}
{% block content %}
<div class="row" style="height: 80vh;">
  <!-- Sidebar: User Groups -->
  <div class="col s12 m3 l2" style="border-right: 1px solid #e0e0e0; height: 100%; overflow-y: auto;">
    <h5>User Groups</h5>
    <ul class="collection">
      {% for group in groups %}
        <a href="/user-groups?selected={{ group.group_id }}" class="collection-item{% if selected_group and group.group_id == selected_group.group_id %} active blue lighten-4{% endif %}">
          {% if group.name == 'Internal User Group' and group.protected %}
            <i class="material-icons left" title="Internal User Group">security</i>
          {% elif group.name == 'Everyone' and group.protected %}
            <i class="material-icons left" title="Everyone">public</i>
          {% elif group.name == 'Authenticated' and group.protected %}
            <i class="material-icons left" title="Authenticated">verified_user</i>
          {% endif %}
          <span>{{ group.name }}</span>
        </a>
      {% endfor %}
    </ul>
    <div class="center-align" style="margin-top: 2rem;">
      <a class="btn green modal-trigger" href="#new-group-modal"><i class="material-icons left">group_add</i>New</a>
    </div>
  </div>
  <!-- Main Panel -->
  <div class="col s12 m9 l10">
    {% if selected_group %}
      <div class="row">
        <!-- Left: Emails in group -->
        <div class="col s12 m6">
          <h6>Users in {{ selected_group.name }}
            {% if selected_group.name == 'Internal User Group' and selected_group.protected %}
              <i class="material-icons left" title="Internal User Group">security</i>
            {% elif selected_group.name == 'Everyone' and selected_group.protected %}
              <i class="material-icons left" title="Everyone">public</i>
            {% elif selected_group.name == 'Authenticated' and selected_group.protected %}
              <i class="material-icons left" title="Authenticated">verified_user</i>
            {% endif %}
          </h6>
          <ul class="collection">
            {% for user in selected_group_users %}
              <li class="collection-item">
                {{ user }}
                <form method="post" action="/user-groups/{{ selected_group.group_id }}/remove-user" style="display:inline; float:right;">
                  <input type="hidden" name="email" value="{{ user }}">
                  <button class="btn-flat btn-small red-text" type="submit" title="Remove User">
                    <i class="material-icons">remove_circle</i>
                  </button>
                </form>
              </li>
            {% else %}
              <li class="collection-item grey-text">No users in this group.</li>
            {% endfor %}
          </ul>
          <a class="btn blue modal-trigger" href="#add-user-modal-{{ selected_group.group_id }}">
            <i class="material-icons left">person_add</i>Add User
          </a>
          <!-- Add User Modal -->
          <div id="add-user-modal-{{ selected_group.group_id }}" class="modal">
            <div class="modal-content">
              <h5>Add User to {{ selected_group.name }}</h5>
              <form method="post" action="/user-groups/{{ selected_group.group_id }}/add-user">
                <div class="input-field">
                  <input type="email" name="email" id="add-user-email-{{ selected_group.group_id }}" required>
                  <label for="add-user-email-{{ selected_group.group_id }}">User Email</label>
                </div>
                <button class="btn blue" type="submit">Add</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Right: Associated URL Groups -->
        {% if selected_group.name != 'Internal User Group' %}
        <div class="col s12 m6">
          <h6>Associated URL Groups</h6>
          <ul class="collection">
            {% for url_group in selected_group_url_groups %}
              <li class="collection-item">
                {{ url_group.name }}
                <form method="post" action="/associations/remove" style="display:inline; float:right; margin-left: 1rem;">
                  <input type="hidden" name="user_group_id" value="{{ selected_group.group_id }}">
                  <input type="hidden" name="url_group_id" value="{{ url_group.group_id }}">
                  <input type="hidden" name="redirect" value="/user-groups?selected={{ selected_group.group_id }}">
                  <button class="btn-flat btn-small red-text" type="submit" title="Remove Association">
                    <i class="material-icons">remove_circle</i>
                  </button>
                </form>
              </li>
            {% else %}
              <li class="collection-item grey-text">No URL groups associated.</li>
            {% endfor %}
          </ul>
          <!-- Add Association Dropdown -->
          {% set associated_ids = selected_group_url_groups | map(attribute='group_id') | list %}
          {% set available_url_groups = url_groups | rejectattr('group_id', 'in', associated_ids) | list %}
          {% if available_url_groups %}
          <form method="post" action="/associations" style="margin-top: 1rem;">
            <div class="input-field">
              <select name="url_group_id" required>
                <option value="" disabled selected>Choose URL Group</option>
                {% for group in available_url_groups %}
                  <option value="{{ group.group_id }}">{{ group.name }}</option>
                {% endfor %}
              </select>
              <label>Link to URL Group</label>
            </div>
            <input type="hidden" name="user_group_id" value="{{ selected_group.group_id }}">
            <input type="hidden" name="redirect" value="/user-groups?selected={{ selected_group.group_id }}">
            <button class="btn green" type="submit">Link</button>
          </form>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              var selects = document.querySelectorAll('select');
              M.FormSelect.init(selects);
            });
          </script>
          {% endif %}
        </div>
        {% else %}
        <div class="col s12 m6">
          <h6>Associated URL Groups</h6>
          <div class="card-panel blue lighten-5">
            <p class="blue-text text-darken-2">
              <i class="material-icons left">info</i>
              The 'Internal User Group' is a special system group that cannot be associated with URL groups.
            </p>
          </div>
        </div>
        {% endif %}
      </div>
      {% if selected_group and not selected_group.protected and selected_group.group_id not in associated_user_group_ids and selected_group.name != 'Internal User Group' %}
      <form method="post" action="/user-groups/{{ selected_group.group_id }}/delete" style="margin-top: 2rem;">
        <button class="btn-flat btn-small red-text" type="submit" title="Delete Group">
          <i class="material-icons left">delete</i>Delete Group
        </button>
      </form>
      {% endif %}
    {% else %}
      <div class="center-align" style="margin-top: 4rem;">
        <h5>Select a user group to view details.</h5>
      </div>
    {% endif %}
  </div>
</div>
<!-- New Group Modal -->
<div id="new-group-modal" class="modal">
  <div class="modal-content">
    <h5>Create New User Group</h5>
    <form method="post" action="/user-groups">
      <div class="input-field">
        <input type="text" name="name" id="new-group-name" required>
        <label for="new-group-name">Group Name</label>
      </div>
      <button class="btn green" type="submit">Create</button>
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    M.Modal.init(elems);
  });
</script>
{% endblock %} 