{% extends 'base.html' %}
{% block content %}
<h4 class="center-align">User Groups</h4>
<div class="row" style="justify-content: center;">
  <div class="col s12 center-align" style="margin-bottom: 2rem;">
    <a class="btn green modal-trigger" href="#new-group-modal"><i class="material-icons left">group_add</i>New Group</a>
  </div>
</div>
<div class="row" style="justify-content: center;">
  {% for group in groups %}
    <div class="col s12 m6 l4 xl3" style="display: flex;">
      <div class="card" style="width: 100%;">
        <div class="card-content">
          <span class="card-title">{{ group.name }}</span>
          <ul class="collection">
            {% for user in users_in_group[group.group_id] %}
              <li class="collection-item">
                {{ user }}
                <form method="post" action="/user-groups/{{ group.group_id }}/remove-user" style="display:inline; float:right;">
                  <input type="hidden" name="email" value="{{ user }}">
                  <button class="btn-flat btn-small red-text" type="submit" title="Remove User">
                    <i class="material-icons">remove_circle</i>
                  </button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-action">
          <a class="btn blue modal-trigger" href="#add-user-modal-{{ group.group_id }}">
            <i class="material-icons left">person_add</i>Add User
          </a>
          {% if group.group_id not in associated_user_group_ids %}
          <form method="post" action="/user-groups/{{ group.group_id }}/delete" style="display:inline;">
            <button class="btn-flat btn-small red-text" type="submit" title="Delete Group">
              <i class="material-icons left">delete</i>Delete
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Add User Modal -->
    <div id="add-user-modal-{{ group.group_id }}" class="modal">
      <div class="modal-content">
        <h5>Add User to {{ group.name }}</h5>
        <form method="post" action="/user-groups/{{ group.group_id }}/add-user">
          <div class="input-field">
            <input type="email" name="email" id="add-user-email-{{ group.group_id }}" required>
            <label for="add-user-email-{{ group.group_id }}">User Email</label>
          </div>
          <button class="btn blue" type="submit">Add</button>
        </form>
      </div>
    </div>
  {% endfor %}
</div>
<!-- New Group Modal -->
<div id="new-group-modal" class="modal">
  <div class="modal-content">
    <h5>Create New User Group</h5>
    <form method="post" action="/user-groups">
      <div class="input-field">
        <input type="text" name="name" id="new-group-name" required>
        <label for="new-group-name">Group Name</label>
      </div>
      <button class="btn green" type="submit">Create</button>
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    M.Modal.init(elems);
  });
</script>
{% endblock %} 